
//COLORS
$font-color: #4a4a4a;
$brown-color: #A66429;
$grey-color: #9B9B9B;
$white-color: #FFF;
$black-color: #000;

//FONT SIZES

$font-58: 58px;
$font-40: 40px;
$font-36: 36px;
$font-24: 24px;
$font-16: 16px;
$font-14: 14px;
$font-12: 12px;


//