/*
* stylesheet for noccoin
*  import all partials
*/
/* line 1, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 6, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
html, body {
  font-family: "Tajawal", sans-serif;
  font-size: 14px;
  font-weight: normal;
  width: 100%;
  background: #FFF;
}

/* line 13, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
body {
  font-family: 'Work Sans', sans-serif !important;
}

/* line 17, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.f-12 {
  font-size: 12px;
}

/* line 18, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.f-14 {
  font-size: 14px;
}

/* line 19, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.f-16 {
  font-size: 16px;
}

/* line 20, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.f-24 {
  font-size: 24px;
}

/* line 21, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.f-36 {
  font-size: 36px;
}

/* line 22, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.f-40 {
  font-size: 40px;
}

/* line 23, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.f-58 {
  font-size: 58px;
}

/* line 25, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.fw-700 {
  font-weight: 700;
}

/* line 28, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.bg-grey {
  background: #cdcdcd;
}

/* line 29, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.bg-black {
  background: #112844;
}

/* line 30, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.brand-color {
  color: #112844;
}

/* line 31, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.bg-white {
  background: #fff;
}

/* line 32, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.grey-sd {
  color: #9b9b9b;
}

/* line 33, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.grey-bd {
  border: 1px solid #cdcdcd;
}

/* line 34, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.br-30 {
  border-radius: 30px !important;
}

/* line 35, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.bd-right-grey {
  border-right: 1px solid #cdcdcd;
}

/* line 36, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.white-bd {
  border: 1px solid #fff;
}

/* line 37, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.bd-right-blk {
  border-right: 3px solid #112844 !important;
}

/* line 38, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.pull-left {
  float: left;
}

/* line 39, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.pull-right {
  float: right;
}

/* line 40, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.list-none {
  list-style-type: none;
}

/* line 41, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.no-decor {
  text-decoration: none;
}

/* line 42, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.no-decor:hover {
  text-decoration: none;
  color: #cdcdcd;
}

/* line 48, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.width-80 {
  width: 80px;
}

/* line 49, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.width-300 {
  width: 300px;
}

/* line 51, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.h-400 {
  height: 400px !important;
}

/* line 55, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.pt-19r {
  padding-top: 19rem;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 55, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
  .pt-19r {
    padding-top: 15rem;
  }
}

@media (max-width: 575px) {
  /* line 55, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
  .pt-19r {
    padding-top: 7rem;
  }
}

/* line 66, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.mt-64 {
  margin-top: 64px;
}

/* line 67, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.mt-80 {
  margin-top: 80px;
}

/* line 68, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.mt-7e2 {
  margin-top: 7.2rem;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 74, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
  .welcome_inner-text h1 {
    padding-right: 10em !important;
  }
}

@media (max-width: 575px) {
  /* line 81, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
  .welcome_inner-text h1 {
    line-height: 1.5em;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* line 86, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
  .card {
    margin-bottom: 1em;
  }
}

@media (max-width: 575px) {
  /* line 86, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
  .card {
    margin-bottom: 1em;
  }
}

@media (max-width: 575px) {
  /* line 95, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
  .wrapper h3 {
    text-align: center;
    padding: 1em 0 0;
  }
}

@media (max-width: 575px) {
  /* line 102, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
  .content {
    padding: 1rem 1rem 0 2.5rem;
  }
}

@media (max-width: 575px) {
  /* line 107, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
  .row {
    margin-left: 0 !important;
  }
}

/* line 112, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.msg-input {
  width: 80%;
  border: 2px solid #000;
  height: 80px;
  padding: 0 1em;
}

/* line 118, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
.bs-dark {
  border: 2px solid #eee;
  box-shadow: 0px 1px 1px 2px #ededed;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 122, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_base.scss */
  .presale-wrapper {
    margin: 0 1em;
    padding: 0 2em;
  }
}

/* line 1, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_button.scss */
.welcome-btn {
  width: 250px;
  height: 48px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  background: #112844;
  color: #FFF;
  border: 1px solid #FFF;
}

/* line 11, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_button.scss */
.welcome-btn:hover {
  outline: 0;
  box-shadow: 3px 3px 0 #fff;
  transform: translate(-3px, -3px);
}

/* line 17, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_button.scss */
.sub-input {
  width: 264px;
  height: 48px;
  border-radius: 3px;
  background: #FFF;
  padding: 12px 22px;
  border: 2px solid #000;
  font-size: 16px;
}

@media (max-width: 575px) {
  /* line 17, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_button.scss */
  .sub-input {
    margin-bottom: 1em;
  }
}

/* line 29, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_button.scss */
.sub-input:focus {
  outline: 0;
  box-shadow: 0px 0 4px 4px #6176ab;
  border: 1px solid #6176ab !important;
}

/* line 34, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_button.scss */
.btn-large {
  width: 190px;
  height: 48px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  background: #112844;
  color: #FFF;
  border: 1px solid #FFF;
}

@media (max-width: 575px) {
  /* line 34, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_button.scss */
  .btn-large {
    width: 264px;
    margin-left: 0 !important;
  }
}

/* line 48, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_button.scss */
.btn-nav {
  background: transparent;
}

/* line 51, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_button.scss */
.btn-nav:hover {
  background: transparent;
}

/* line 54, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_button.scss */
.btn:hover {
  outline: 0;
  box-shadow: 3px 3px 0 #fff;
  transform: translate(-3px, -3px);
}

/* line 59, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_button.scss */
.btn-large:hover {
  outline: 0;
  box-shadow: 3px 3px 0 #fff;
  transform: translate(-3px, -3px);
}

@media (min-width: 576px) and (max-width: 767px) {
  /* line 65, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_button.scss */
  .presale-btn {
    width: 200px;
  }
}

@media (max-width: 575px) {
  /* line 65, C:/Users/Baron2Oxide/Desktop/noccoin-website/assets/sass/_button.scss */
  .presale-btn {
    width: 200px;
  }
}

/*# sourceMappingURL=../css/main.map */